*{
    background-color: whitesmoke;
    font-family: "Poppins", sans-serif;
    /* margin: 0; */
}

.card-section{
    text-align: center;
}
.card-section h2{
    font-size: 40px;
}

.card-container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width: 270px;
    border: 2px solid rgb(221, 221, 220);
    border-radius: 10px;
    padding: 15px;
    box-shadow: 8px 8px 17px rgb(194, 193, 193);
    text-align: left;

}
.card:hover{
    box-shadow: 12px 12px 10px rgb(219, 219, 219);
    cursor: pointer;
}

.card h3{
    font-size: 25px;
    font-weight: bold;
}

.card img{
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgb(223, 223, 223);
}

.card button{
    color: rgb(255, 255, 255);
    background-color: blue;
    padding: 8px 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
}