*{
    padding: 0;
}



p{
    width: 50%;
    text-align: center;
    padding: 10px 5px;
}

#heading{
    color: blue;
    text-align: justify;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;

}
#para{
    color: rgb(62, 187, 89);
    text-align:left;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style:italic;

}
#fruits{
    color: rgb(146, 5, 35);
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: left;
}

.did{
    color: rgb(133, 9, 248);
    font-style: italic;
    text-align: justify;
    text-decoration: dashed;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}