#div1{
    height: 300px;
    background-color: rgb(8, 224, 224);
    background-image: url('nature1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 20px 20px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

#section{
    display: flex;
    gap: 20px;
}
#div2{
    height: 300px;
    background-color: rgb(8, 224, 224);
    background-image: url('nature2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 20px 20px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#div3{
    height: 300px;
    margin-top: 20px;
    background-color: rgb(8, 224, 224);
    background-image: url('nature3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 20px 20px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#box-div{
    /* display: inline; */
    margin-top: 50px;
    text-align: center;
    color: blue;
    font-size: 40px;
    /* border: 10px solid black; */
}
.shadow{
    /* border-: 2px solid black; */
        box-shadow: 15px -15px 0px gray;
        border-radius: 10px;
}

#last{
    background-color: blueviolet;
    display: flex;
}

#practice{
    /* display: none; */
    /* visibility: hidden; */
}