/* Laptop Device */
@media screen and (max-width:1200px){
    
}
/* Tablet Device */
@media screen and (max-width:992px){
    
}
/* Big Mobile */
@media screen and (max-width:768px){
    
}
/* Normal Mobile */
@media screen and (max-width:576px){
    
}